@font-face {
    font-family:"RageItalic";
    src: url("agencyr.eot") /* EOT file for IE */
}
@font-face {
    font-family:"Rage Italic";
    src: url("RageItalic.ttf") /* TTF file for CSS3 browsers */
}

h1 {
    font-family:'Rage Italic', sans-serif;
    font-size: 100px;
    font-weight:normal;
    text-align: center;
    line-height: 100%;
    padding-bottom: 5px;
    margin-bottom:7px;
    font-family:'Rage Italic', sans-serif;
    color: rgb(255, 0, 107);

}
